body {
  font-family: monospace;
}

section {
  margin: 50px;
  border: 2px solid;
  padding: 15px;
  width: 30%;
}

#funcionamento {
  color: #000000;
}

h1 {
  color: #000000;
}

#texto-tarefa:hover {
  border-color: #ed145b;
  transition: 0.5s;
}

#criar-tarefa:hover {
  color: #ed145b;
  background-color: #000000;
  transition: 0.5s;
  cursor: pointer;
}

.mudaDeCor {
  background-color: rgb(128, 128, 128);
}
