body {
  font-family: monospace;
}

section {
  margin: 50px;
  border: 2px solid;
  padding: 15px;
  width: 30%;
}

#funcionamento {
  color: rgb(0 , 0 , 0);
  text-align: justify;
}

h1 {
  color: rgb(0 , 0 , 0);
}

#texto-tarefa {
  width: 97%;
}

#texto-tarefa:hover {
  border-color: rgb(237 , 20 , 91);
  transition: 0.5s;
}

#criar-tarefa:hover {
  color: rgb(237 , 20 , 91);
  background-color: rgb(0 , 0 , 0);
  transition: 0.5s;
  cursor: pointer;
}

.mudaDeCor {
  background-color: rgb(128 , 128 , 128);
}

.completed {
  text-decoration: line-through solid rgb(0 , 0 , 0);  
}

#titulo {
  text-align: center;
}
#titulo:hover {
  color: rgb(237 , 20 , 91);
  background-color: black;
  text-align: center;
}